<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android">

    <item
        android:id="@+id/menu_dorm"
        android:title="🏡 기숙사 TIP" />

    <item
        android:id="@+id/menu_library"
        android:title="📚 도서관 TIP" />

    <item
        android:id="@+id/menu_food"
        android:title="🍽️ 학식 TIP" />

    <item
        android:id="@+id/menu_studentcard"
        android:title="💳 학생증 TIP" />

    <item
        android:id="@+id/menu_course"
        android:title="💻 수강신청 TIP" />

</menu>
