<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.universitylife">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="학교 생활 통합 앱"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".notice.NoticeActivity" />

        <activity android:name=".schedule.ScheduleActivity" />
        <activity android:name=".schedule.AddScheduleActivity" />

        <activity android:name=".meal.MealActivity" />

    </application>
</manifest>